@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  z-index: 100;
  width: 100%;
  padding: 15px 20%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #F6F6F6;
}
@media (max-width: 500px) {
  .navbar {
    padding: 15px 0;
  }
}
.navbar h1 {
  font-size: 3.5rem;
  width: 100%;
  text-align: center;
}
.navbar nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 1% 10%;
  margin: auto;
  font: #454A59;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .navbar nav {
    width: 100%;
  }
}
.navbar nav a {
  text-decoration: none;
  color: #5E6164;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  /* popup form */
}
.home .intro img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .intro img {
    width: 100%;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .home .space-images .sky {
    display: none;
  }
  .home .space-images .launch {
    display: none;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    width: 90%;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    flex-direction: column-reverse;
    padding: 20px 30px;
    margin: auto;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 90%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  width: 30%;
  height: 40px;
  border-radius: 10px;
  font-size: 2rem;
  background-color: #22283A;
  text-align: center;
  padding: 10px 10px;
  color: #F6F7F8;
}
.home .walk .walk-text .btn:hover {
  color: #22283A;
  background-color: #F6F7F8;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 2rem;
    background-color: #22283A;
    text-align: center;
    padding: 10px 10px;
    color: #F6F7F8;
  }
  .home .walk .walk-text .btn:hover {
    color: #22283A;
    background-color: #F6F7F8;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    width: 100%;
    margin: 10px auto;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.home .form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.home .form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.home .form-container h1 {
  text-align: center;
  font-size: 2rem;
}
.home .form-container input[type=text],
.home .form-container input[type=text],
.home .form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.home .form-container input[type=text]:focus,
.home .form-container input[type=text]:focus,
.home .form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}
.home .form-container .btn2 {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.home .form-container .cancel {
  background-color: red;
}
.home .form-container .btn2:hover,
.home .btn:hover {
  opacity: 1;
}
.blog .stars,
.blog .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.blog .stars {
  background: black url(../img/stars.JPG) repeat top center;
  z-index: -5;
}
.blog .twinkling {
  background: transparent url(../img/twinkling2.png) repeat top center;
  z-index: -1;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}
